.title1{
    background-color: rgba(178, 210, 228, 0.699);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1%;
    margin-top: 4%;
    border-radius: 9px;
    margin-left: 9%;
    width: 80%;
}
.body1{
    background-color: rgba(29, 28, 28);
    background-image: url();
}
#section1{
    background-color: rgba(133, 133, 133);
    margin-top: 08%;
    margin-left: auto;
    margin-right: auto;
    width: 12vw;
    height: 184px;
    padding: 3rem;
    border-radius: 15px;
}

.uname1{
    color:rgb(14, 13, 13);
    font-size: 20px;
    line-height: 3;

}
.input1{
    border: solid rgb(131, 107, 107) 2px;
    border-radius: 5px;
    width: 10vw;
    padding: 10%;
}

.btn1{
    margin-top: 20px;
    background-color: rgba(75, 148, 190);
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: solid rgb(54, 135, 182) 2px;
    padding: 10px;
    margin-left: 26%;
}

.btn1:hover {
    background-color: rgb(88, 78, 78);
}

input:focus{
    outline : none;
}

.info_user{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.img_user{
    width: 34%;
}

.dates_Styles {
    color: rgb(248, 244, 244);
    width: 70%;
    margin-left: 40%;
    margin-top: -17%;
    line-height: 3; 
}

@media screen and (min-width: 1300px){
    .img_user{
        height: 10%;
        width: 21%;
    }
}