.title1{
    background-color: rgba(75, 148, 190, 0.699);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2rem;
    margin-top: 05%;
    border-radius: 3em;
    margin-left: 3.5%;
    margin-right: 10%;
    width: 80%;
}
.title1:hover{
    background-color: bisque;
}
.body1{
    background-color: rgba(92, 80, 104, 0.527);
}   

#section1{
    background-color: rgba(177, 211, 113, 0.568);
    text-align: center;
    margin-top: 08%;
    margin-left: 30%;
    width: 20%;
    height: 100px;
    padding: 6rem;
    border-radius: 3em;
}

#form1 *{
    color: rgb(252, 238, 238);
    font-size: 120%;
}

#uname{
    color: black;
    font-family:'cursive';
    
}
.btn1 *{
    margin-top: 10%;
    background-color: rgba(75, 148, 190, 0.699);
    border-radius: 0.3em;
    font-size: 20px;
}
.btn1:hover *{
    background-color: rgb(88, 78, 78);
}